<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FootBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EE2601E1BEB65ED000E6A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EE260371BEB65ED000E6A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EE260421BEB65ED000E6A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
